/*=========================  header   ================================================*/
.header {
  background-image: url("../img/header_bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.header .header_content {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header .header_content .header_main {
  background: linear-gradient(90deg, #f8f39e 0%, #f5f571 30%, #ffffff 100%);
  padding: 45px 40px;
  border-radius: 15px;
  /* !!! Изменено: вместо фиксированной ширины */
  max-width: 700px;  /* не более 700px */
  width: 100%;       /* на узких экранах будет сжиматься */
  margin: 20 auto;    /* чтобы по центру на больших экранах */
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.header .header_content .header_main .header_title {
  text-transform: uppercase;
  color: #000;
  font-size: 45px;
  font-family: "Montserrat-Bold", sans-serif;
}

.header .header_content .header_main .header_subtitle {
  font-family: "Montserrat-Medium", sans-serif;
  color: #000;
  font-size: 20px;
}

/*=========================  history   ================================================*/
.history {
  margin: 10px 0;
  /* !!! Изменено: убираем жёсткую высоту */
  min-height: 500px; /* или height: auto; если нужно, можно хранить min-height */
  background-image: url("../img/history_bg.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 50% auto;
  align-items: center;
  box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.301);
  border-radius: 10px;
  display: flex; 
}

.history .history_wrap .history_main {
  padding-right: 30px;
  width: 50%;
}

.history .history_wrap .history_main .history_title {
  color: #ff0000;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 90px;
}

.history .history_wrap .history_main .history_subtitle {
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 30px;
}

.history .history_wrap .history_main .history_text {
  margin-top: 35px;
  font-size: 18px;
}

/*=========================  about_company   ================================================*/
.about_company {
  padding: 70px 0;
  box-shadow: 1px 5px 9px 0px rgba(0, 0, 0, 0.301);
  border-radius: 10px;
}

.about_company .about_company_wrap {
  display: flex;
  gap: 20px;
  align-items: center;
}

.about_company .about_company_wrap .about_company_ctf {
  /* Можно сделать, если нужно, max-width */
  max-width: 320px; 
  width: 100%; /* на узких экранах растягивается */
}

.about_company .about_company_wrap .about_company_ctf img {
  border: #000 solid 1px;
  box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.301);
  border-radius: 10px;
  display: flex;
  max-width: 90%; /* адаптивная ширина */
  height: auto;    /* сохраняем пропорции */
}

.about_company .about_company_wrap .about_company_main {
  position: relative;
  /* Вместо calc(100% - 380px) можно тоже делать max-width */
  width: calc(100% - 380px);
  padding: 50px 20px;
  box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.301);
  border-radius: 10px;
  background-image: linear-gradient(90deg, #f8f39e 0%, #f5f571 30%, #ffffff 100%);
  display: flex;
  background-repeat: no-repeat;
  flex-direction: column;
  gap: 40px;
  justify-content: end;
}

.about_company .about_company_wrap .about_company_main .about_company_title {
  z-index: 5;
  font-size: 30px;
  color: #ff0000;
  font-family: "Montserrat-Bold", sans-serif;
}

.about_company .about_company_wrap .about_company_main .about_company_text {
  z-index: 5;
}

.about_company .about_company_wrap .about_company_main .about_company_link {
  z-index: 5;
  text-align: center;
  display: inline-block;
  width: 180px;
  height: 40px;
  background: linear-gradient(-90deg, #f8f39e 0%, #f5f571 30%, #ffffff 100%);
  border-radius: 10px;
  line-height: 40px;
  font-size: 14px;
  font-family: "Montserrat-Bold", sans-serif;
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}
.about_company .about_company_wrap .about_company_main .about_company_link:active {
  transform: translateY(0);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}
.about_company .about_company_wrap .about_company_main .logo {
  width: 120px;
  height: 120px;
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: 0;
}

/*=========================  our_product   ================================================*/
.our_product {
  padding: 80px 0;
  position: relative;
  box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.301);
  border-radius: 10px;
}

.our_product .our_product_wrap .our_product_main .our_product_title {
  z-index: 5;
  font-size: 48px;
  color: #ff0000;
  font-family: "Montserrat-Bold", sans-serif;
}

.our_product .our_product_wrap .our_product_main {
  position: relative;
  width: calc(100% - 400px);
  padding: 50px 20px;
  box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.301);
  border-radius: 10px;
  background-image: linear-gradient(90deg, #f8f39e 0%, #f5f571 30%, #ffffff 100%);
  display: flex;
  background-repeat: no-repeat;
  flex-direction: column;
  gap: 40px;
  justify-content: end;
}

.our_product .our_product_wrap .our_product_main .product_name {
  font-size: 24px;
  font-family: "Montserrat-Medium", sans-serif;
}

.our_product .our_product_wrap .our_product_main .product_description {
  font-size: 14px;
}

.our_product .our_product_wrap .our_product_main .our_product_more_btn {
  text-align: center;
  display: inline-block;
  width: 180px;
  height: 40px;
  background: linear-gradient(-90deg, #f8f39e 0%, #f5f571 30%, #ffffff 100%);
  border-radius: 10px;
  line-height: 40px;
  font-size: 14px;
  font-family: "Montserrat-Bold", sans-serif;
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}
.our_product .our_product_wrap .our_product_main .our_product_more_btn:active {
  transform: translateY(0);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}
.our_product .our_product_wrap .our_product_slider {
  border-radius: 10px;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 39%;
  overflow: hidden;
}

.our_product .our_product_wrap .our_product_slider .our_product_slider_wrap {
  user-select: none;
  display: flex;
}

.our_product .our_product_wrap .our_product_slider .our_product_slider_wrap .page {
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
}

.our_product .our_product_wrap .our_product_slider .our_product_slider_wrap .page .page_content {
  height: 400px;
}

.our_product .our_product_wrap .our_product_slider .swiper-button-next,
.our_product .our_product_wrap .our_product_slider .swiper-button-prev {
  color: #ffffff;
}

/*=========================  numbers   ================================================*/
.numbers {
  box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.301);
  border-radius: 10px;
  padding: 100px 0 80px 0;
  background: linear-gradient(
    180deg,
    white 7%,
    #fffff1 21%,
    #ffffe2 36%,
    #ffffd0 51%,
    #ffffbf 64%,
    #f8f39e 100%
  );
}

.numbers .numbers_title {
  font-size: 40px;
  font-family: "Montserrat-Bold", sans-serif;
  text-align: center;
}

.numbers .numbers_main {
  margin-top: 40px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 50px;
}

.numbers .numbers_main .info {
  box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  width: 250px;
}

.numbers .numbers_main .info .number {
  color: #ff0000;
  font-size: 48px;
  font-family: "Montserrat-Bold", sans-serif;
}

.numbers .numbers_main .info p {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 15px;
}

/*=========================  adaptive   ================================================*/
@media screen and (max-width: 1024px) {
  .header .header_content .header_button {
    margin-top: 30px;
  }
  .about_company .about_company_wrap {
    flex-direction: column;
  }
  .about_company .about_company_wrap .about_company_ctf {
    width: 400px;
    max-width: 100%; /* чтоб не вылезало */
  }
  .about_company .about_company_wrap .about_company_main {
    margin-top: 60px;
    width: 100%;
  }
  .about_company .about_company_wrap .about_company_main::before {
    position: absolute;
    content: "";
    width: 150px;
    height: 150px;
    background-image: url("../img/arrow-curved.svg");
    background-size: cover;
    top: -120px;
    right: 0;
  }
  .our_product {
    position: relative;
    padding-bottom: 450px;
  }
  .our_product .our_product_inner .our_product_title {
    width: 100%;
  }
  .our_product .our_product_inner .our_product_wrap .our_product_main {
    width: 100%;
    margin-left: 0; /* !!! если нужно убрать отрицательные отступы */
  }
  .our_product .our_product_inner .our_product_wrap .our_product_slider {
    width: 00%;
    top: 100%;
    transform: translateY(-100%);
  }
}

@media screen and (max-width: 768px) {
  .header .header_content .header_main {
    padding: 30px 10px;
  }
  .header .header_content .header_main .header_title {
    font-size: 36px;
  }
  .header .header_content .header_main .header_subtitle {
    font-size: 20px;
  }
  .header .header_content .header_button {
    margin-top: 30px;
  }
  .history {
    /* убираем фикс. высоту полностью */
    min-height: auto; 
    background-size: cover;
    background-position: center left;
  }
  .history .history_wrap {
    display: flex;
    justify-content: end;
  }
  .history .history_wrap .history_main {
    padding: 30px 10px;
    border-radius: 10px;
    width: 80%;
    background: linear-gradient(90deg, #f8f39e 0%, #f5f571 30%, #ffffff 100%);
  }
  .history .history_wrap .history_main .history_title {
    font-size: 46px;
  }
  .history .history_wrap .history_main .history_subtitle {
    font-size: 20px;
  }
  .about_company .about_company_wrap .about_company_ctf {
    width: 300px;
  }
  .about_company .about_company_wrap .about_company_main .about_company_title {
    font-size: 25px;
  }
  .our_product {
    position: relative;
    padding-bottom: 350px;
  }
  .our_product .our_product_inner .our_product_title {
    width: 100%;
  }
  .our_product .our_product_inner .our_product_wrap .our_product_main {
    width: 100%;
  }
  .our_product .our_product_inner .our_product_wrap .our_product_slider {
    width: 100%;
    top: 100%;
    transform: translateY(-100%);
  }
  .our_product .our_product_inner .our_product_wrap .our_product_slider .our_product_slider_wrap .page .page_content {
    height: 300px;
  }
}

@media screen and (max-width: 425px) {
  .header .header_content .header_main {
    width: 100%; /* уже стоит width: 100%, но пусть будет явно */
  }
  .header .header_content .header_main .header_title {
    font-size: 24px;
  }
  .header .header_content .header_main .header_subtitle {
    font-size: 16px;
  }
  .header .header_content .header_button {
    margin-top: 30px;
  }
  .history .history_wrap .history_main {
    width: 100%;
  }
  .history .history_wrap .history_main .history_title {
    font-size: 40px;
  }
  .about_company .about_company_wrap .about_company_main {
    padding: 30px 10px;
    width: 100%;
  }
  .about_company .about_company_wrap .about_company_main .about_company_title {
    font-size: 25px;
  }
  .our_product {
    position: relative;
    padding-bottom: 300px;
  }
  .our_product .our_product_inner .our_product_title {
    font-size: 40px;
    width: 100%;
  }
  .our_product .our_product_inner .our_product_wrap .our_product_main {
    width: 100%;
  }
  .our_product .our_product_inner .our_product_wrap .our_product_slider {
    width: 100%;
    top: 100%;
    transform: translateY(-100%);
  }
  .our_product .our_product_inner .our_product_wrap .our_product_slider .our_product_slider_wrap .page .page_content {
    height: 250px;
  }
  .numbers .numbers_wrap .numbers_title {
    font-size: 40px;
  }
  .numbers .numbers_wrap .numbers_main .info .number {
    font-size: 40px;
  }
  .certificates .certificates_slider .certificates_slider_wrap .page {
    height: 250px;
  }
}

@media screen and (max-width: 320px) {
  .about_company .about_company_wrap .about_company_ctf {
    width: 250px;
  }
  .about_company .about_company_wrap .about_company_main .about_company_title {
    font-size: 21px;
  }
}
/*# sourceMappingURL=main.css.map */
