/*=========================  header_content   ================================================*/
.header_content {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    .logo {
        width: 250px;
    }
    .title {
        font-family: "Montserrat-Bold", sans-serif;
        width: 70%;
        font-size: 48px;
    }
}

/*=========================  about_company   ================================================*/
.about_company {
    line-height: 1.5;
    padding-top: 80px;
    padding-bottom: 80px;
    .about_company_title {
        .title {
            text-align: center;
            font-size: 48px;
            font-family: "Montserrat-Bold", sans-serif;
            .wrap {
                display: inline-block;
                background-color: #fff;
                border-radius: 10px;
                padding: 0 5px;
            }
        }
        position: relative;
        margin-bottom: 50px;

        .about_company_subtitle {
            margin-top: 100px;
            font-family: "Montserrat-Medium", sans-serif;
            display: block;
            font-size: 14px;
        }
        .title_bg {
            z-index: -5;
            top: 0;
            transform: translateY(-38%);
            position: absolute;
            display: flex;
            width: 100%;
            justify-content: space-between;
            .img_bg {
                width: 150px;
            }
        }
    }
    .about_company_history {
        display: flex;
        gap: 25px;
        .history_colum {
            display: flex;
            gap: 25px;
            flex-direction: column;
        }
    }
}
/*=========================  certificates   ================================================*/
.certificates {
    padding-top: 60px;
    padding-bottom: 60px;
    .certificates_slider {
        position: relative;
        overflow: hidden;
        .certificates_slider_wrap {
            display: flex;
            .page {
                height: 500px;
                flex-shrink: 0;
                display: flex;
                justify-content: center;
                img {
                    object-fit: cover;
                    border: #000 solid 2px;
                }
            }
        }
        .swiper-pagination {
            bottom: 0;
        }
    }
}
/*=========================  adaptive   ================================================*/
@media screen and (max-width: 768px) {
    .header_content {
        flex-direction: column;
        text-align: center;
        .title {
            width: 100%;
            font-size: 36px;
        }
    }
    .about_company {
        .about_company_title {
            .title {
                font-size: 36px;
            }

        }
        .about_company_history {
            flex-direction: column;
        }
    }
}

@media screen and (max-width: 425px) {
    .header_content {
        .title {
            font-size: 21px;
        }
        .logo {
            width: 200px;
        }
    }
    .about_company {
        .about_company_title {
            .title {
                font-size: 28px;
            }
            .title_bg {
                .img_bg {
                    width: 100px;
                }
            }
        }
    }
}
