{% extends 'base.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/cooperation.css' %}">
{% endblock links %}
{% block title %} {{title}} {% endblock title %}
{% block header_content %}
<div class="header_main">
    <h1 class="header_title">
        BIZ BILAN YANGI BOZORLARNI OCHING: ORGANIK O'G'ITLARNI EKSPORT QILISH
    </h1>
</div>
{% endblock header_content %}

{% block content %}
<div class="cooperation_description container">
    <p>Tabiat kuchidan ilhomlangan va Kaliforniya qizil tuproq chuvalchanglari tomonidan  yaratilgan organomineral o'g'itlar dunyosiga xush kelibsiz! Biz barqaror qishloq xo'jaligi va ekologik mas'uliyatning sodiq tarafdorlari jamoasimiz va ishlab chiqarishni rivojlantirish va uni muvaffaqiyatli eksport qilish bo'yicha tajribamiz va tajribamizni taklif qilishdan faxrlanamiz.</p>
    <p>Organik va mineral o'g'itlarning xususiy ishlab chiqaruvchilarini ekologik toza kelajak sari yo'limizga qo'shilishga taklif qilamiz. Biz sheriklik va hamkorlikning kuchiga ishonamiz va bizning maqsadimiz yangi bozorlarni ochish va biznesingiz geografiyasini kengaytirish orqali muvaffaqiyatingizga hissa qo'shishdir.</p>
    <p>Zamonaviy ishlab chiqarish uskunalarimiz va ilmiy tadqiqotlarimiz bilan biz mahsulotlarimizning eng yuqori sifatini ta'minlaymiz, bu esa uni jahon miqyosida talab qilinadigan va qimmatli qiladi. Bizning kompaniyamiz nafaqat biznes, balki sayyoramizga farovonlik va g'amxo'rlik qilishga intilayotgan hamfikr odamlar jamoasidir.</p>
    <p>Keling, kuchlarni birlashtiramiz va o'g'itlaringizni xalqaro bozorlarni zabt etishga imkon beradigan samarali ta'minot tizimini yaratamiz. Biz sizni ishlab chiqarish va qayta ishlashdan tortib logistika va marketingni qo'llab-quvvatlashgacha bo'lgan barcha zarur narsalar bilan ta'minlaymiz.</p>
    <p>Eksport va ekologik muvaffaqiyat eshiklarini oching! Ilhomlantiruvchi hamkorlikni boshlash uchun bugun bizga qo'shiling. Bizning barqaror va gullab-yashnayotgan jamoamizning bir qismi bo'lish imkoniyatini boy bermang!</p>
</div>
<section class="about_us container">
    <div class="title">
        Biz haqimizda hamkorlarimiz fikri
    </div>
    <div class="card">
        <div class="img">
            <img src="{% static 'img/news_card_img_1.jpg' %}" alt="">
            
        </div>
        <div class="card_main">
            <div class="card_title">
                "O'zkimeimpeks "kompaniyasi eksportga "BIOHUMUS" mahsulotini taklif etadi
            </div>
            <p class="card_text">
                "BIOHUMUS" organomineral o'g'itdir. Turli xil ozuqaviy moddalarni o'z ichiga oladi: gumus, Humatlar, aminokislotalar, gormonlar, azot, fosfor, kaliy va xelatlangan ...
            </p>
            <a href="https://uzkimyoimpeks.uz/ru/news/uzkimyoimpeks-company-offers-biohumus-product-for-export" class="btn_more">Подробнее</a>
        </div>
    </div>
</section>
{% endblock content %}
{% block scripts %}
{% endblock scripts %}