{% extends 'base.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/cooperation.css' %}">
{% endblock links %}
{% block title %} {{title}} {% endblock title %}
{% block header_content %}
<div class="header_main">
    <h1 class="header_title">
        Откройте новые рынки с нами: Экспорт органических удобрений
    </h1>
</div>
{% endblock header_content %}

{% block content %}
<div class="cooperation_description container">
    <p>Добро пожаловать в мир органоминеральных удобрений, вдохновленных силой природы и созданных с помощью Калифорнийских красных дождевых червей! Мы - команда преданых сторонников устойчивого сельского хозяйства и экологической ответственности с гордостью предлагаем нашу экспертизу и опыт для развития вашего производства и его успешного экспорта.</p>
    <p>Приглашаем частных производителей органических и минеральных удобрений присоединиться к нам в нашем пути к экологически чистому будущему. Мы верим в силу партнерства и сотрудничества, и наша цель - содействовать вашему успеху, открывая новые рынки и расширяя географию вашего бизнеса.</p>
    <p>С нашим современным производственным оборудованием и научными исследованиями мы обеспечиваем высочайшее качество нашей продукции, что делает ее востребованной и ценной на мировой арене. Наша компания - это не просто бизнес, это сообщество единомышленников, стремящихся к процветанию и заботе о нашей планете.</p>
    <p>Давайте объединим усилия и вместе создадим эффективную систему поставок, которая позволит вашим удобрениям покорить международные рынки. Мы обеспечим вас всем необходимым, начиная от производства и переработки до логистики и маркетинговой поддержки.</p>
    <p>Откройте двери к экспорту и экологическому успеху! 
        Присоединяйтесь к нам сегодня, чтобы начать вдохновляющее 
        сотрудничество. Не упустите возможность быть частью нашей устойчивой и 
        процветающей команды! </p>
</div>
<section class="about_us container">
    <div class="title">
        Наши партнеры о нас
    </div>
    <div class="card">
        <div class="img">
            <img src="{% static 'img/news_card_img_1.jpg' %}" alt="">
            
        </div>
        <div class="card_main">
            <div class="card_title">
                Компания «Узкимёимпэкс» предлагает на экспорт продукт “BIOHUMUS”
            </div>
            <p class="card_text">
                “BIOHUMUS” – это органо-минеральное удобрение. Cодержит различное количество питательных веществ: гумус, гуматы, аминокислоты, гармоны, азот, фосфор, калий и хелатированный набор ...
            </p>
            <a href="https://uzkimyoimpeks.uz/ru/news/uzkimyoimpeks-company-offers-biohumus-product-for-export" class="btn_more">Подробнее</a>
        </div>
    </div>
</section>

{% endblock content %}
{% block scripts %}
{% endblock scripts %}