{% extends 'base.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/cooperation.css' %}">
{% endblock links %}
{% block title %} {{title}} {% endblock title %}
{% block header_content %}
<div class="header_main">
    <h1 class="header_title">
        Open new markets with us: Export of organic fertilizers
    </h1>
</div>
{% endblock header_content %}

{% block content %}
<div class="cooperation_description container">
    Welcome to the world of organic mineral fertilizers, inspired by the power of nature and created with the help of California red earthworms! We are a team of dedicated supporters of sustainable agriculture and environmental responsibility and are proud to offer our expertise and experience for the development of your production and its successful export.</p>
    <p>We invite private producers of organic and mineral fertilizers to join us on our journey towards an environmentally friendly future. We believe in the power of partnership and cooperation, and our goal is to contribute to your success by opening up new markets and expanding the geography of your business.</p>
    <p>With our state-of-the-art production equipment and scientific research, we ensure the highest quality of our products, which makes them in demand and valuable on the global stage. Our company is not just a business, it is a community of like-minded people striving for prosperity and caring for our planet.</p>
    Let's join forces and create an efficient supply chain that will allow your fertilizers to conquer international markets. We will provide you with everything you need, from production and processing to logistics and marketing support.</p>
    <p>Open the doors to export and environmental success! 
        Join us today to start inspiring 
        cooperation. Don't miss the opportunity to be a part of our sustainable and 
        Have a thriving team! </p>
</div>
<section class="about_us container">
    <div class="title">
        Our partners about us
    </div>
    <div class="card">
        <div class="img">
            <img src="{% static 'img/news_card_img_1.jpg' %}" alt="">
            
        </div>
        <div class="card_main">
            <div class="card_title">
                The "Uzkimeimpex" company offers the product for export “BIOHUMUS”
            </div>
            <p class="card_text">
                “BIOHUMUS” – it is an organo-mineral fertilizer. It contains various amounts of nutrients: humus, humates, amino acids, harmones, nitrogen, phosphorus, potassium and a chelated set...
            </p>
            <a href="https://uzkimyoimpeks.uz/ru/news/uzkimyoimpeks-company-offers-biohumus-product-for-export" class="btn_more">More...</a>
        </div>
    </div>
</section>

{% endblock content %}
{% block scripts %}
{% endblock scripts %}