{% extends 'base.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/css/lightgallery.min.css">
<link rel="stylesheet" href="{% static 'css/main.css' %}">

{% endblock links %}
{% block title %} {{title}} {% endblock title %}
{% block header_content %}
<div class="header_main">
    <h1 class="header_title">Fertilizers for a rich harvest!</h1>
    <h2 class="header_subtitle">
        Our company is a leader in the production of organic mineral fertilizers in Uzbekistan.
    </h2>
</div>
{% endblock header_content %}

{% block content %}
<section class="history">
    <div class="history_wrap container">
        <div class="history_main ">
            <div class="history_title">
                30+ years 
            </div>
            <div class="history_subtitle">
                climbing to the heights of fertility
            </div>
            <div class="history_text">
                "Ecogumus" was officially founded in 1997, but the first steps towards its development and prosperity were taken back in 1988 by our father, the founder of the company, Khaitboy Solizhonov. We continue to expand and develop our father's business. For more than thirty years, the company has become a leader in the agricultural industry, providing efficient solutions for agriculture around the world.
            </div>
        </div>
    </div>
</section>
 <section class="about_company">
    <div class="about_company_wrap container">
        <div class="about_company_ctf" id="about_company_ctf">
            <a href="{% static 'img/certificate_12.png' %}">
                <img src="{% static 'img/certificate_12.png' %}" alt="ctf">
            </a>
        </div>
        <div class="about_company_main">
            <div class="about_company_title">
                We are the only company in the country that has a certificate of conformity for the serial production of organic mineral fertilizers.
            </div>
            <a href="{% url 'mainapp:about_company_page' lang=language %}" class="about_company_link">About the company</a>
            <div class="logo">
                <img src="{% static 'img/logo.png' %}" alt="logo">
            </div>
        </div>
    </div>
</section>
<section class="our_product">
    <div class="our_product_inner container">
        <div class="our_product_wrap ">
            <div class="our_product_main">
                <div class="our_product_title">
                    Our product
                </div>
                <div class="product_name">
                    Ecogumus is an organomineral fertilizer
                </div>
                <div class="product_description">
                    <p>
                        Our unique development is a high-quality, fine-grained 
                        the granular mass of organic and mineral substances obtained by 
                        California red earthworms. Your garden, vegetable garden or plants will receive a rich and 
                        a balanced diet that will lead to effective 
                        productivity and magnificent greenery. Give it to your 
                        plants get the care they deserve, with our 
                        An exclusive product, a natural gift from Mother herself 
                        land and packed with love and care!
                    </p>
                </div>
                
                <a class="our_product_more_btn" href="{% url 'mainapp:product_page' lang=language %}">
                    More...
                </a>
            </div>
            <div class="our_product_slider">
                <div class="our_product_slider_wrap">
                    <div class="page" style="background-image: url({% static './img/product_slider_img_1.jpg' %});">
                        <div class="page_content" >
                        </div>
                    </div>
                    <div class="page" style="background-image: url({% static './img/product_slider_img_2.jpg' %});">
                        <div class="page_content">
                        </div>
                    </div>
                    <div class="page" style="background-image: url({% static './img/product_slider_img_3.jpg' %});">
                        <div class="page_content">
                        </div>
                    </div>
                    <div class="page" style="background-image: url({% static './img/product_slider_img_4.jpg' %});">
                        <div class="page_content">
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    </div>
</section>
<section class="numbers ">
    <div class="numbers_wrap container">
        <div class="numbers_title">The company in numbers</div>
        <div class="numbers_main">
            <div class="info">
                <div class="number">
                    30+ years
                </div>
                <p>SUCCESSFUL WORK IN THE MARKET
                </p>
            </div>
            <div class="info">
                <div class="number">
                    10000т+
                </div>
                <p>ANNUAL PROJECTED EXPORTS</p>
            </div>
            <div class="info">
                <div class="number">
                    100%
                </div>
                <p>CONTROL OF MANUFACTURED PRODUCTS</p>
            </div>
        </div>
    </div>
</section>
{{context.language}}
{% endblock content %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/lightgallery.min.js"></script>
<script src="{% static 'js/main.js' %}"></script>
{% endblock scripts %}