{% extends 'base.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/css/lightgallery.min.css">
<link rel="stylesheet" href="{% static 'css/main.css' %}">

{% endblock links %}
{% block title %} {{title}} {% endblock title %}
{% block header_content %}
<div class="header_main">
    <h1 class="header_title">Удобрения для богатого урожая!</h1>
    <h2 class="header_subtitle">
        Наша компания является лидером в области производства органоминеральных удобрений в Узбекистане.
    </h2>
</div>
{% endblock header_content %}

{% block content %}
<section class="history">
    <div class="history_wrap container">
        <div class="history_main ">
            <div class="history_title">
                30+ лет 
            </div>
            <div class="history_subtitle">
               восхождения к вершинам плодородия
            </div>
            <div class="history_text">
                "Ekogumus" была официально основана в 1997 году, однако первые шаги к её развитию и процветанию были сделаны ещё в 1988 году нашим отцом, основателем компании - Хайтбоем Солижоновым. Мы продолжаем расширять и развивать дело нашего отца. За более чем тридцать лет компания стала лидером в сельскохозяйственной отрасли, предоставляя эффективные решения для сельского хозяйства по всему миру.
            </div>
        </div>
    </div>
</section>
 <section class="about_company">
    <div class="about_company_wrap container">
        <div class="about_company_ctf" id="about_company_ctf">
            <a href="{% static 'img/certificate_8.png' %}">
                <img src="{% static 'img/certificate_8.png' %}" alt="ctf">
            </a>
        </div>
        <div class="about_company_main">
            <div class="about_company_title">
                Мы — единственная компания в стране, имеющая сертификат соответствия на серийное производство органоминеральных удобрений.
            </div>
            <a href="{% url 'mainapp:about_company_page' lang=language %}" class="about_company_link">О компании</a>
            <div class="logo">
                <img src="{% static 'img/logo.png' %}" alt="logo">
            </div>
        </div>
    </div>
</section>
<section class="our_product">
    <div class="our_product_inner container">
        <div class="our_product_wrap ">
            <div class="our_product_main">
                <div class="our_product_title">
                    Наш продукт
                </div>
                <div class="product_name">
                Биогумус - органоминеральное удобрение
                </div>
                <div class="product_description">
                    <p>
                        Наша уникальная разработка - это высококачественная, мелко 
                        гранулированная масса органических и минеральных веществ, полученных с помощью 
                        Калифорнийских красных дождевых червей. Ваш сад, огород или растения получат богатое и 
                        сбалансированное питание, которое приведет к эффективной 
                        производительности и великолепной зелени. Дайте вашим 
                        растениям уход, который они заслуживают, с нашим 
                        эксклюзивным продуктом, природным даром от самой матушки 
                        земли и упакованным с любовью и заботой!
                    </p>
                </div>
                
                <a class="our_product_more_btn" href="{% url 'mainapp:product_page' lang=language %}">
                    Подробнее
                </a>
            </div>
            <div class="our_product_slider">
                <div class="our_product_slider_wrap">
                    <div class="page" style="background-image: url({% static './img/product_slider_img_1.jpg' %});">
                        <div class="page_content" >
                        </div>
                    </div>
                    <div class="page" style="background-image: url({% static './img/product_slider_img_2.jpg' %});">
                        <div class="page_content">
                        </div>
                    </div>
                    <div class="page" style="background-image: url({% static './img/product_slider_img_3.jpg' %});">
                        <div class="page_content">
                        </div>
                    </div>
                    <div class="page" style="background-image: url({% static './img/product_slider_img_4.jpg' %});">
                        <div class="page_content">
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    </div>
</section>
<section class="numbers ">
    <div class="numbers_wrap container">
        <div class="numbers_title">Компания в цифрах</div>
        <div class="numbers_main">
            <div class="info">
                <div class="number">
                    30+ ЛЕТ
                </div>
                <p>УСПЕШНОЙ РАБОТЫ НА РЫНКЕ
                </p>
            </div>
            <div class="info">
                <div class="number">
                    10000т+
                </div>
                <p>ЕЖЕГОДНЫЙ ПРОГНОЗИРУЕМЫЙ ЭКСПОРТ</p>
            </div>
            <div class="info">
                <div class="number">
                    100%
                </div>
                <p>КОНТРОЛЬ ПРОИЗВОДИМОЙ ПРОДУКЦИИ</p>
            </div>
        </div>
    </div>
</section>
{{context.language}}
{% endblock content %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/lightgallery.min.js"></script>
<script src="{% static 'js/main.js' %}"></script>
{% endblock scripts %}