{% extends 'base.html' %}
{% load static %}

{% block links %}
  <link rel="stylesheet" href="{% static 'css/news_2.css' %}" />
{% endblock %}
{% block title %}
  {{ title }}
{% endblock %}
{% block header_content %}
  <div class="header_main">
    <h1 class="header_title">“Ekogumus” va “Mas Holding Company” oʻrtasida savdo-iqtisodiy aloqalarni rivojlantirish boʻyicha memorandum imzolandi.</h1>
  </div>
{% endblock %}
{% block content %}
  <section class="news_content container">
    <div class="video_wrap">
      <div class="video">
        <video autoplay controls src="{% static 'video/news_2_video.mp4' %}"></video>
      </div>
      <div class="news_text">Tomonlar ikki davlat o‘rtasida ishonchli, pragmatik va foydali munosabatlarni yo‘lga qo‘yish zaruratidan kelib chiqib, qishloq xo‘jaligi, qurilish, organik o‘g‘itlar va mahsulotlar kabi bir qancha sohalarni rivojlantirishda ikki tashkilot o‘rtasida samarali va samimiy munosabatlarni yo‘lga qo‘yish istagida ekanliklariga kelishib oldilar. Tomonlar ikki mamlakat qonunchiligiga muvofiq O‘zbekistondan mahsulotlar eksport qilish tartib-taomillari bo‘yicha kelgusi hamkorlikni muhokama qilish maqsadida B2B formatida uchrashuvlar tashkil etadilar.</div>
    </div>
    <div class="news_сontent">
      <div class="images">
        <img src="{% static 'img/news_2_content_3.jpg' %}" alt="" />
        <img src="{% static 'img/news_2_content_2.jpg' %}" alt="" />
        <img src="{% static 'img/news_2_content_1.jpg' %}" alt="" />
      </div>
      <section class="time container">
        <p>26.12.2023</p>
      </section>
    </div>
  </section>
{% endblock %}
{% block scripts %}
  <script src=""></script>
{% endblock %}
