{% extends 'base.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/news.css' %}">
{% endblock links %}
{% block title %} {{title}} {% endblock title %}
{% block header_content %}
<div class="header_main">
    <h1 class="header_title">News</h1>
</div>
{% endblock header_content %}
{% block content %}
<section class="news_cards container">
    <div class="news_card">
        <div class="img">
            <img src="{% static 'img/news_content_5.jpg' %}" alt="">
        </div>
        <div class="card_main">
            <div class="card_title">
                Uzbek producers aim to export over $100 million: acceleration program launched
            </div>
            <a href="{% url 'mainapp:news_3_page' lang=language %}" class="btn_more">
                More...
            </a>
        </div>
    </div>
    <div class="news_card">
        <div class="img">
            <img src="{% static 'img/news_card_img_2.jpg' %}" alt="">
        </div>
        <div class="card_main">
            <div class="card_title">
                "EKOGUMUS" and "MAS HOLDING COMPANY" Signed a memorandum on the development of trade and economic relations
            </div>
            <a href="{% url 'mainapp:news_2_page' lang=language %}" class="btn_more">
                More...
            </a>
        </div>
    </div>
    <div class="news_card">
        <div class="img">
            <img src="{% static 'img/news_card_img_1.jpg' %}" alt="">
        </div>
        <div class="card_main">
            <div class="card_title">
                The "Uzkimeimpex" company offers the product for export “BIOHUMUS”
            </div>
            <p class="card_text">
                “BIOHUMUS” – it is an organo-mineral fertilizer. It contains various amounts of nutrients: humus, humates, amino acids, harmones, nitrogen, phosphorus, potassium and a chelated set...
            </p>
            <a href="https://uzkimyoimpeks.uz/ru/news/uzkimyoimpeks-company-offers-biohumus-product-for-export" class="btn_more">More...</a>
        </div>
    </div>
</section>

{% endblock content %}
{% block scripts %}
<script src="{% static 'js/news.js'%}"></script>
{% endblock scripts %}