{% extends 'base.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/product.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/css/lightgallery.min.css">
{% endblock links %}
{% block title %} {{title}} {% endblock title %}
{% block header_content %}
<div class="header_main">
    <h1 class="header_title">What is vermicompost and what is its composition?</h1>
</div>
{% endblock header_content %}
{% block content %}
<section class="product_description container">
    <p class="description">
        <strong>Vermicompost</strong> is a product of processing organic matter by California Reds  
        earthworms. It is a loose, finely granular mass.
        with granule sizes 1-3 mm, possibly up to 5mm.  Concentrated fertilizer  
        It contains, in a balanced combination, a whole range of nutrients 
        substances - micro and macronutrients, mineral fertilizers, amino acids,
        humic acid, humates and fulvates of sodium and potassium, natural phytohormones,
        spores useful for plants of soil microorganisms, gibberellins in 
        an easily digestible form. </p> 
        
        <div class="composition">
            <div class="composition_title">Due to intensive fermentation, it is enhanced:
            </div>
    <div class="result">
        <ol>
            <li>Plant growth and development.</li>
            <li>Increases the germination and germination energy of seeds. </li>
            <li>It stimulates root formation in plants.</li>
            <li>Enhances plant immunity.</li>
            <li>Increases the fertility and looseness of the soil.</li>
            <li>It keeps moisture in the soil for a long time.</li>
            <li>Reduces the content of nitrites in agricultural products.</li>
            <li>It prevents the entry of heavy metals and radionuclides into the plant.</li>
            <li>Increases the content of sugars, proteins and vitamins in fruits and vegetables.</li>
            <li>Eliminates chlorosis, stimulates flowering and fruiting. </li>
            <li>It has the effect of rapid fruit ripening for 7-10 days.</li>
            <li>Stress is relieved, especially when planting plants and seeds.</li>
            <li>Products grown on vermicompost practically increase the shelf life.</li>
            <li>Vermicompost is 10 times higher than manure in terms of nutrient content. 
                Vermicompost is more effective than manure by 10 times or more. And fresh manure 
                It is a source of fungal and viral diseases of plants. 
                Vermicompost completely lacks viable weed seeds,
                has antiseptic properties, destroying viral and fungal 
                plant diseases.</li>
        </ol>
    </div>
    <div class="composition">
        <div class="composition_title">
            The chemical composition of Vermicompost:
        </div>
        <table>
            <tr class="row">
                <th class="name" >External appearance</th>
                <th class="value">Homogeneous crumbly mass from dark brown to black in color. Inclusions of CDCs and their cocoons are allowed.</th>
            </tr> 
            <tr class="row">
                <th class="name" >Mass fraction of organic substances, %, not less</th>
                <th class="value">55%</th>
            </tr> 
             <tr class="row">
                <th class="name" >Mass fraction of moisture, %</th>
                <th class="value">40-45%</th>
            </tr> 
            <tr class="row">
                <th class="name" >Mass fraction of ash, %</th>
                <th class="value">35-40%</th>
            </tr>
            <tr class="row">
                <th class="name" >Organic substances</th>
                <th class="value">55-65%</th>
            </tr>
            <tr class="row">
                <th class="name">Mass fraction of Humus, %</th>
                <th class="value">28-45%</th>
            </tr>
            <tr class="row">
                <th class="name">pH of 1% suspension</th>
                <th class="value">6.8-7.2%</th>
            </tr>
            <tr class="row">
                <th class="name">Friability, %</th>
                <th class="value">100%</th>
            </tr>
            <tr class="row">
                <th class="name" >Total nitrogen N, %</th>
                <th class="value">1.5-4.8%</th>
            </tr>
            <tr class="row">
                <th class="name" >Total phosphorus (P2O5) %, not less</th>
                <th class="value">2.1-3.5%</th>
            </tr>
            <tr class="row">
                <th class="name" >Total potassium (K2O) %, not less</th>
                <th class="value">2.3-3.4%</th>
            </tr>
            <tr class="row">
                <th class="name" >Mass fraction of dry residue, %, not less</th>
                <th class="value">45%</th>
            </tr>
            <tr class="row">
                <th class="name" >Calcium</th>
                <th class="value">4.0-6.0%</th>
            </tr>
            <tr class="row">
                <th class="name" >Magnesium</th>
                <th class="value">0.6-2.3%</th>
            </tr>
            <tr class="row">
                <th class="name" >Iron</th>
                <th class="value">0.6-2.5%</th>
            </tr>
            <tr class="row">
                <th class="name" >Manganese</th>
                <th class="value">60-80 mg/k</th>
            </tr>
            <tr class="row">
                <th class="name" >Mass fraction of heavy metals, mg/kg</th>
                <th class="value">below the maximum permissible concentration for soils</th>
            </tr>
            <tr class="row">
                <th class="name" >Pathogenic microflora</th>
                <th class="value">absent</th>
            </tr>
            <tr class="row">
                <th class="name" >Helminth eggs</th>
                <th class="value">absent</th>
            </tr>
        </table>
    </div>
    <div class="buyers">
        <div class="buyers_title">
            Main buyers
        </div>
        <p>The main buyers of vermicompost are: Dehkan, farmers, 
            greenhouses and flower farms, government organizations, 
            which have landscaping areas and subsidiary farms,
            as well as private individuals who have garden and country plots. 
            We are looking for partners from abroad with the subsequent sale of our products.
             to other countries.<br>
             In the modern world, the population attaches great priority to 
             consumption of organic vegetables, fruits and other products,
             grown on the basis of organic mineral fertilizer biohumus.  
           </p>
    </div>
</section>
<section class="bags container">
    <div class="composition">
        <div class="composition_title">Product: Ecogomus</div>
        <p class="description">
            Ecogomus is an organic fertilizer that is sold in bags of the following weights: 2 kg, 7 kg, 10 kg and 20 kg. </p> 
        </div>
    <div class="bags_slider">
        <div id="animated-thumbnails-gallery" class="bags_slider_wrap">
            <a href="{% static 'img/bags.jpg' %}" class="page">
                <img src="{% static 'img/bags.jpg' %}" alt="bags">
            </a>
            <a href="{% static 'img/bags_7.jpg' %}" class="page">
                <img src="{% static 'img/bags_7.jpg' %}" alt="bags">
            </a>
            <a href="{% static 'img/bags_20.jpg' %}" class="page">
                <img src="{% static 'img/bags_20.jpg' %}" alt="bags">
            </a>
            <a href="{% static 'img/bags_10.jpg' %}" class="page">
                <img src="{% static 'img/bags_10.jpg' %}" alt="bags">
            </a>
        </div>
    </div>
</section>
<section class="production_demonstration container">
    <div class="title">
        Video production demonstration
    </div>
    <div class="video_gallery">
        <div class="video"><iframe class="hor_vid" width="956" height="500" src="https://www.youtube.com/embed/AE9L71IuN7A" title="&quot;Экогумус&quot; МЧЖамиятимиз. Узб.Респ-да ягона экспортга махсулот чикариш учун керакли хужжатларга эга" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
        <div class="wrap">
            <div class="video"><iframe class="ver_vid" width="473" height="500" src="https://www.youtube.com/embed/rGdgT_Txoac" title="Экогумус МЧЖ экспортга биогумусларимизи элаш ва тайерлаш жараенлари 19.06.2023 йил холати" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
            <div class="video"><iframe class="ver_vid" width="473" height="500" src="https://www.youtube.com/embed/npovcyGXceE" title="экспортга тайергалик бошланди. тайер махсулотни элаш жараёнлари." frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
        </div>
    </div>
    <div class="go_to_youtube container">
        <div class="text">
            In order to learn more about the world of our production process, we invite you to take a virtual trip to our official YouTube channel.
        </div>
        <div class="wrap">
            <div class="images">
                <div class="logo image">
                    <img src="{% static 'img/logo.png' %}">
                </div>
                <div class="arrow image">
                    <img src="{% static 'img/arrow-up.svg' %}">
                </div>
                <div class="logo_youtube image">
                    <img src="{% static 'img/youtube_color.svg' %}">
                </div>
            </div>
            <a href="https://www.youtube.com/@biogumusfargonaekogumus8419" class="btn_go_to_youtube">
                Go over 
            </a>
        </div>

    </div> 
</section>

{% endblock content %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/lightgallery.min.js"></script>
<script src="{% static 'js/product.js'%}"></script>
{% endblock scripts %}