{% extends 'base.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/product.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/css/lightgallery.min.css">
{% endblock links %}
{% block title %} {{title}} {% endblock title %}
{% block header_content %}
<div class="header_main">
    <h1 class="header_title">Что такое биогумус и каков его состав?</h1>
</div>
{% endblock header_content %}
{% block content %}
<section class="product_description container">
    <p class="description">
        <strong>Биогумус</strong>- продукт переработки органических масс Калифорнийскими красными  
        дождевыми червями. Представляет собой сыпучую, мелкогранулируванную массу
        с размерами гранул 1-3 мм, возможно до 5мм.  Концентрированное удобрение  
        содержит в сбалансированном сочетании целый комплекс питательных 
        веществ - микро и макроэлементы, минеральные удобрения, аминокислоты, 
        гуминовая кислота, гуматы и фульваты натрия и калия, природные фитогормоны, 
        споры, полезные для растений почвенных микроорганизмов, гиббереллины в 
        легкоусвояемой форме. </p> 
        
        <div class="composition">
            <div class="composition_title">Благодаря интенсивной ферментации усиливается:
            </div>
    <div class="result">
        <ol>
            <li>Рост и развитие растений.</li>
            <li>Повышает всхожесть и энергию прорастания семян. </li>
            <li>Стимулирует корнеобразование у растений.</li>
            <li>Повышает иммунитет растений.</li>
            <li>Увеличивает плодородие, рыхлость почвы.</li>
            <li>Держит длительное время влагу в почве.</li>
            <li>Уменьшает содержание нитритов в сельскохозяйственной продукции.</li>
            <li>Препятствует поступлению тяжёлых металлов и радионуклидов в растение.</li>
            <li>Увеличивает содержание сахаров, белков и витаминов в плодах и овощах.</li>
            <li>Устраняет хлороз, стимулирует цветение и плодоношение. </li>
            <li>Дает эффект к быстрому созреванию плодов на 7-10 дней.</li>
            <li>Снимаются стрессы, особенно при высадке растений, семян.</li>
            <li>Выращенная на биогумусе продукция практически увеличивает длительность хранения.</li>
            <li>Биогумус в 10 раз превышает навоз по содержанию питательных веществ. 
                Биогумус эффективнее навоза в 10 и более раз. Причём свежий навоз 
                является очагом возникновения грибковых и вирусных заболеваний растений. 
                В биогумусе полностью отсутствует жизнеспособные семена сорных растений, 
                имеет антисептические свойства, уничтожая вирусные и грибковые 
                болезни растений.</li>
        </ol>
    </div>
    <div class="composition">
        <div class="composition_title">
            Химический состав Биогумуса:
        </div>
        <table>
            <tr class="row">
                <th class="name" >Внешный вид</th>
                <th class="value">Однородная рассыпчатая масса от темно-коричневого до черного цвета. Допускается наличие включений ККДЧ и их коконов.</th>
            </tr> 
            <tr class="row">
                <th class="name" >Массовая доля органических веществ, %, не менее</th>
                <th class="value">55%</th>
            </tr> 
             <tr class="row">
                <th class="name" >Массовая доля влаги, %</th>
                <th class="value">40-45%</th>
            </tr> 
            <tr class="row">
                <th class="name" >Массовая доля золы, %</th>
                <th class="value">35-40%</th>
            </tr>
            <tr class="row">
                <th class="name" >Органические вещества</th>
                <th class="value">55-65%</th>
            </tr>
            <tr class="row">
                <th class="name">Массовая доля Гумуса, % </th>
                <th class="value">28-45%</th>
            </tr>
            <tr class="row">
                <th class="name">pH 1% суспензии </th>
                <th class="value">6.8-7.2%</th>
            </tr>
            <tr class="row">
                <th class="name">Рассыпчатость, %</th>
                <th class="value">100%</th>
            </tr>
            <tr class="row">
                <th class="name" >Азот общий N, %</th>
                <th class="value">1.5-4.8%</th>
            </tr>
            <tr class="row">
                <th class="name" >Фосфор общий (P2O5) %, не менее</th>
                <th class="value">2.1-3.5%</th>
            </tr>
            <tr class="row">
                <th class="name" >Калий общий (K2O) %, не менее</th>
                <th class="value">2.3-3.4%</th>
            </tr>
            <tr class="row">
                <th class="name" >Массовая доля сухого остатка, %, не менее</th>
                <th class="value">45%</th>
            </tr>
            <tr class="row">
                <th class="name" >Кальций</th>
                <th class="value">4.0-6.0%</th>
            </tr>
            <tr class="row">
                <th class="name" >Магний</th>
                <th class="value">0.6-2.3%</th>
            </tr>
            <tr class="row">
                <th class="name" >Железо</th>
                <th class="value">0.6-2.5%</th>
            </tr>
            <tr class="row">
                <th class="name" >Марганец</th>
                <th class="value">60-80 мг/кг</th>
            </tr>
            <tr class="row">
                <th class="name" >Массовая доля тяжёлых металлов, мг/кг</th>
                <th class="value">ниже ПДК для почв</th>
            </tr>
            <tr class="row">
                <th class="name" >Патогенная микрофлора</th>
                <th class="value">отсутствует</th>
            </tr>
            <tr class="row">
                <th class="name" >Яйца гельминтов</th>
                <th class="value">отсутствует</th>
            </tr>
        </table>
    </div>
    <div class="buyers">
        <div class="buyers_title">
            Основные покупатели
        </div>
        <p>Основными покупателями биогумуса являются: дехканские, фермерские, 
            тепличные и цветочные хозяйства, государственные организации, у 
            которых  существуют озеленительные площади и подсобные хозяйства, 
            а  также частные лица, у которых есть огородные и дачные участки. 
            Ищем партнёров из-за рубежа с последующей реализацей нашей продукции
             в другие страны.<br>
             В  современном мире   населением придаётся большой  приоритет к 
             употреблению  экологически чистых  овощей, фруктов и других продуктов,
             выращенных на основе органоминерального удобрения биогумус.  
           </p>
    </div>
</section>
<section class="bags container">
    <div class="composition">
        <div class="composition_title">Продукт: Экогомус</div>
        <p class="description">
            Экогомус — это органическое удобрение, которое продается в мешках следующих весов: 2 кг, 7 кг, 10 кг и 20 кг. </p> 
        </div>
    <div class="bags_slider">
        <div id="animated-thumbnails-gallery" class="bags_slider_wrap">
            <a href="{% static 'img/bags.jpg' %}" class="page">
                <img src="{% static 'img/bags.jpg' %}" alt="bags">
            </a>
            <a href="{% static 'img/bags_7.jpg' %}" class="page">
                <img src="{% static 'img/bags_7.jpg' %}" alt="bags">
            </a>
            <a href="{% static 'img/bags_20.jpg' %}" class="page">
                <img src="{% static 'img/bags_20.jpg' %}" alt="bags">
            </a>
            <a href="{% static 'img/bags_10.jpg' %}" class="page">
                <img src="{% static 'img/bags_10.jpg' %}" alt="bags">
            </a>
        </div>
    </div>
</section>
<section class="production_demonstration container">
    <div class="title">
        Видео-демонстрация производства
    </div>
    <div class="video_gallery">
        <div class="video"><iframe class="hor_vid" width="956" height="500" src="https://www.youtube.com/embed/AE9L71IuN7A" title="&quot;Экогумус&quot; МЧЖамиятимиз. Узб.Респ-да ягона экспортга махсулот чикариш учун керакли хужжатларга эга" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
        <div class="wrap">
            <div class="video"><iframe class="ver_vid" width="473" height="500" src="https://www.youtube.com/embed/rGdgT_Txoac" title="Экогумус МЧЖ экспортга биогумусларимизи элаш ва тайерлаш жараенлари 19.06.2023 йил холати" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
            <div class="video"><iframe class="ver_vid" width="473" height="500" src="https://www.youtube.com/embed/npovcyGXceE" title="экспортга тайергалик бошланди. тайер махсулотни элаш жараёнлари." frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
        </div>
    </div>
    <div class="go_to_youtube container">
        <div class="text">
            Для того чтобы более детально ознакомиться с миром нашего производственного процесса, приглашаем вас отправиться в виртуальное путешествие на наш официальный YouTube-канал.
        </div>
        <div class="wrap">
            <div class="images">
                <div class="logo image">
                    <img src="{% static 'img/logo.png' %}">
                </div>
                <div class="arrow image">
                    <img src="{% static 'img/arrow-up.svg' %}">
                </div>
                <div class="logo_youtube image">
                    <img src="{% static 'img/youtube_color.svg' %}">
                </div>
            </div>
            <a href="https://www.youtube.com/@biogumusfargonaekogumus8419" class="btn_go_to_youtube">
                Перейти 
            </a>
        </div>

    </div> 
</section>

{% endblock content %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/lightgallery.min.js"></script>
<script src="{% static 'js/product.js'%}"></script>
{% endblock scripts %}