{% extends 'base.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/product.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/css/lightgallery.min.css">
{% endblock links %}
{% block title %} {{title}} {% endblock title %}
{% block header_content %}
<div class="header_main">
    <h1 class="header_title">"BIOGUMUS" NIMA VA UNING TARKIBI QANDAY?</h1>
</div>
{% endblock header_content %}
{% block content %}
<section class="product_description container">
    <p class="description">
        <strong>Biogumus</strong>- Kaliforniya qizil chuvalchanglari tomonidan organik 
        massalarni qayta ishlash mahsuloti. Bu granulalarning o'lchamlari 
        1-3 mm, ehtimol 5 mm gacha bo'lgan, mayda granulyatsiya qilingan massa. 
        Konsentrlangan o'g'it muvozanatli kombinatsiyada ozuqa moddalarining 
        butun majmuasini o'z ichiga oladi - mikro va makroelementlar, mineral 
        o'g'itlar, aminokislotalar, humik kislota, natriy va kaliyning gumatlari 
        va fulvatlari, tabiiy Fitogormonlar, tuproq mikroorganizmlari o'simliklari 
        uchun foydali bo'lgan sporalar, oson hazm bo'ladigan gibberellinlar shakli.</p> 
        
        <div class="composition">
            <div class="composition_title">Kuchli fermentatsiya tufayli:
            </div>
    <div class="result">
        <ol>
            <li>O'simliklarning o'sishi va rivojlanishi</li>
            <li>Urug'larning unib chiqishi va unib chiqish energiyasini oshiradi</li>
            <li>O'simliklarda ildiz shakllanishini rag'batlantiradi.</li>
            <li>O'simliklarning immunitetini oshiradi.</li>
            <li>Tuproq unumdorligini, yumshoqligini oshiradi</li>
            <li>Tuproqda uzoq vaqt namlikni saqlaydi.</li>
            <li>Qishloq xo'jaligi mahsulotlarida nitrit miqdorini kamaytiradi.</li>
            <li>Og'ir metallar va radionuklidlarning o'simlikka kirishiga to'sqinlik qiladi.</li>
            <li>Meva va sabzavotlarda shakar, oqsil va vitaminlar miqdorini oshiradi.</li>
            <li>Xlorozni yo'q qiladi, gullash va meva berishni rag'batlantiradi.</li>
            <li>7-10 kun davomida mevalarning tez pishishiga ta'sir qiladi</li>
            <li>Stresslar, ayniqsa o'simliklar, urug'larni ekish paytida engillashadi.</li>
            <li>Biogumusda etishtirilgan mahsulotlar saqlash muddatini deyarli oshiradi.</li>
            <li>Biogumus ozuqaviy moddalar miqdori bo'yicha go'ngdan 10 baravar ko'pdir. Biogumus go'ngga qaraganda 10 yoki undan ko'p marta samaraliroq. Bundan tashqari, yangi go'ng o'simliklarning qo'ziqorin va virusli kasalliklari paydo bo'lishining o'chog'idir. Biogumusda begona o'tlarning hayotiy urug'lari umuman yo'q, o'simliklarning virusli va qo'ziqorin kasalliklarini yo'q qiladigan septik xususiyatlarga ega.</li>
        </ol>
    </div>
    <div class="composition">
        <div class="composition_title">
            Biogumusning kimyoviy tarkibi
        </div>
        <table>
            <tr class="row">
                <th class="name" >Tashqi ko'rinishi</th>
                <th class="value">To'q jigarrangdan qora ranggacha bo'lgan bir xil maydalangan massa. KQYCH qo'shimchalari va ularning pillalariga mavjud.</th>
            </tr> 
            <tr class="row">
                <th class="name" >Organik moddalarning massa ulushi, %, kam emas</th>
                <th class="value">55%</th>
            </tr> 
             <tr class="row">
                <th class="name" >Namlikning massa ulushi, %</th>
                <th class="value">40-45%</th>
            </tr> 
            <tr class="row">
                <th class="name" >Kulning massa ulushi, %</th>
                <th class="value">35-40%</th>
            </tr>
            <tr class="row">
                <th class="name" >Organik moddalar</th>
                <th class="value">55-65%</th>
            </tr>
            <tr class="row">
                <th class="name">Gumusning massa ulushi, %</th>
                <th class="value">28-45%</th>
            </tr>
            <tr class="row">
                <th class="name">pH 1% suspenziya</th>
                <th class="value">6.8-7.2%</th>
            </tr>
            <tr class="row">
                <th class="name">Uvalanuvchanligi, %</th>
                <th class="value">100%</th>
            </tr>
            <tr class="row">
                <th class="name" >Azot umumiy N, %</th>
                <th class="value">1.5-4.8%</th>
            </tr>
            <tr class="row">
                <th class="name" >Fosfor umumiy (P2O5) %, kam emas</th>
                <th class="value">2.1-3.5%</th>
            </tr>
            <tr class="row">
                <th class="name" >Kaliy umumiy (K2O) %, kam emas</th>
                <th class="value">2.3-3.4%</th>
            </tr>
            <tr class="row">
                <th class="name" >Quruq qoldiqning massa ulushi, %, kam emas</th>
                <th class="value">45%</th>
            </tr>
            <tr class="row">
                <th class="name" >Kaltsiy</th>
                <th class="value">4.0-6.0%</th>
            </tr>
            <tr class="row">
                <th class="name" >Magniy</th>
                <th class="value">0.6-2.3%</th>
            </tr>
            <tr class="row">
                <th class="name" >Temir</th>
                <th class="value">0.6-2.5%</th>
            </tr>
            <tr class="row">
                <th class="name" >Marganets</th>
                <th class="value">60-80 mg/kg</th>
            </tr>
            <tr class="row">
                <th class="name" >Og'ir metallarning massa ulushi, mg / kg</th>
                <th class="value">tuproq uchun ruxsat etilgan maksimal kons-dan past</th>
            </tr>
            <tr class="row">
                <th class="name" >Patogen mikroflora</th>
                <th class="value">yo'q</th>
            </tr>
            <tr class="row">
                <th class="name" >Gelmint tuxumlari</th>
                <th class="value">yo'q</th>
            </tr>
        </table>
    </div>
    <div class="buyers">
        <div class="buyers_title">
            Asosiy xaridorlar
        </div>
        <p>Biogumusning asosiy xaridorlari: dehqon, fermer, issiqxona va gul 
            xo'jaliklari, obodonlashtirish joylari bo'lgan davlat tashkilotlari 
            va yordamchi fermer xo'jaliklari, shuningdek bog' va yozgi 
            kottejlarga ega bo'lgan xususiy shaxslar. Biz chet eldan sheriklarni 
            qidiramiz, keyinchalik mahsulotlarimizni boshqa mamlakatlarga sotamiz.<br>
            Zamonaviy dunyoda aholi organomineral o'g'it Biogumus asosida
             etishtirilgan ekologik toza sabzavotlar,
             mevalar va boshqa mahsulotlardan foydalanishga katta ustuvor ahamiyat beradi.  
           </p>
    </div>
</section>
<section class="bags container">
    <div class="composition">
        <div class="composition_title">Mahsulot: Ekogomus</div>
        <p class="description">
            Ekogomus-bu quyidagi og'irlikdagi sumkalarda sotiladigan organik o'g'it: 2 kg, 7 kg, 10 kg va 20 kg. </p> 
        </div>
    <div class="bags_slider">
        <div id="animated-thumbnails-gallery" class="bags_slider_wrap">
            <a href="{% static 'img/bags.jpg' %}" class="page">
                <img src="{% static 'img/bags.jpg' %}" alt="bags">
            </a>
            <a href="{% static 'img/bags_7.jpg' %}" class="page">
                <img src="{% static 'img/bags_7.jpg' %}" alt="bags">
            </a>
            <a href="{% static 'img/bags_20.jpg' %}" class="page">
                <img src="{% static 'img/bags_20.jpg' %}" alt="bags">
            </a>
            <a href="{% static 'img/bags_10.jpg' %}" class="page">
                <img src="{% static 'img/bags_10.jpg' %}" alt="bags">
            </a>
        </div>
    </div>
</section>
<section class="production_demonstration container">
    <div class="title">
        Ishlab chiqarish namoyishi
    </div>
    <div class="video_gallery">
        <div class="video"><iframe class="hor_vid" width="956" height="500" src="https://www.youtube.com/embed/AE9L71IuN7A" title="&quot;Экогумус&quot; МЧЖамиятимиз. Узб.Респ-да ягона экспортга махсулот чикариш учун керакли хужжатларга эга" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
        <div class="wrap">
            <div class="video"><iframe class="ver_vid" width="473" height="500" src="https://www.youtube.com/embed/rGdgT_Txoac" title="Экогумус МЧЖ экспортга биогумусларимизи элаш ва тайерлаш жараенлари 19.06.2023 йил холати" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
            <div class="video"><iframe class="ver_vid" width="473" height="500" src="https://www.youtube.com/embed/npovcyGXceE" title="экспортга тайергалик бошланди. тайер махсулотни элаш жараёнлари." frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
        </div>
    </div>
    <div class="go_to_youtube container">
        <div class="text">
            Ishlab chiqarish jarayonimiz dunyosi bilan batafsilroq tanishish uchun sizni rasmiy YouTube kanalimizga virtual sayohatga taklif qilamiz.
        </div>
        <div class="wrap">
            <div class="images">
                <div class="logo image">
                    <img src="{% static 'img/logo.png' %}">
                </div>
                <div class="arrow image">
                    <img src="{% static 'img/arrow-up.svg' %}">
                </div>
                <div class="logo_youtube image">
                    <img src="{% static 'img/youtube_color.svg' %}">
                </div>
            </div>
            <a href="https://www.youtube.com/@biogumusfargonaekogumus8419" class="btn_go_to_youtube">
                O'tish 
            </a>
        </div>

    </div> 
</section>

{% endblock content %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/lightgallery.min.js"></script>
<script src="{% static 'js/product.js'%}"></script>
{% endblock scripts %}